/* здесь используйте глобальные переменные */
@use "sass:color";

$color-primary: #68b738;
$color-basic: #ffffff;
$color-social: #666666;

$bg-primary-color: rgba(104, 183, 56, 0.85);
$bg-secondary-color: #f2f2f2;
$bg-basic-color: #ffffff;

$text-color-basic: #ffffff;
$text-color-deafault: #000000;
$text-color: #444444;
$text-color-subscribe: #111111;
$text-color-subtitle: #222222;
