/* здесь используйте глобальные переменные */
$break-point-tablet: 768px;
$break-point-desktop: 1440px;

$color-primary: #68b738;
$color-basic: #ffffff;
$color-social: #666666;
$color-deafault: #000000;
$color-border-color: #d9d9d9;
$color-border-section: #e6e6e6;
$color-border-hero: #ebebeb;
$color-border-catalog: #cdcdcd;
$color-button-hover: #5eaa2f;
$color-button-active: rgba(94, 170, 47, 0.6);

$bg-primary-color: rgba(104, 183, 56, 0.85);
$bg-secondary-color: #f2f2f2;
$bg-basic-color: #ffffff;

$text-color-basic: #ffffff;
$text-color-deafault: #000000;
$text-color: #444444;
$text-color-subscribe: #111111;
$text-color-subtitle: #222222;
$text-color-count: #f2f2f2;

$container-mobile: 0 20px;
$container-tablet: 0 30px;
$container-desktop: 0 110px;
