/* здесь используйте глобальные переменные */
$color-primary: #68b738;
$color-basic: #ffffff;

$bg-primary-color: $color-primary;
$bg-secondary-color: #f2f2f2;
$bg-basic-color: #ffffff;

$text-color-basic: #ffffff;
$text-color-deafault: #000000;
$text-color: #444444;
$text-color-subscribe: #111111;
$text-color-subtitle: #222222;
