.button {
  @include font-height-color-size(20, $text-color-basic, 16);
  font-family: $secondary-font;
  text-decoration: none;
  color: $text-color-basic;
  text-transform: uppercase;
  background-color: $color-primary;
  padding: 10px 20px;
  display: block;
}

.button--secondary {
  color: $text-color;
  background-color: $bg-secondary-color;
}
