.compare-slider {
  position: relative;
}

.compare-slider__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.compare-slider__image--before {
  clip-path: inset(0 50% 0 0);
}

.compare-slider__image--after {
  clip-path: inset(0 0 0 50%);
}

.compare-slider__mixer {
  background: transparent;
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  opacity: 0;
  margin: 0;
  cursor: col-resize;

  &:hover + .compare-slider__ranger {
    background-color: $color-primary;
  }

  &:hover + .compare-slider__ranger::before {
    border-color: $color-primary;
  }

  &:hover + .compare-slider__ranger::after {
    background-color: $color-primary;
  }

  &:active + .compare-slider__ranger {
    background-color: $color-button-active;
  }

  &:active + .compare-slider__ranger::before {
    border-color: $color-button-active;
  }

  &:active + .compare-slider__ranger::after {
    background-color: $color-button-active;
  }
}

.compare-slider__ranger {
  top: 0;
  left: 50%;
  background-color: $color-social;
  border-radius: 4px;
  width: 4px;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: $bg-basic-color;
    border-radius: 50%;
    border: 2px solid $color-social;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $color-social;
    width: 24px;
    height: 18px;
    clip-path:
      polygon(
        0% 50%,
        33.3% 0%,
        33.3% 100%,
        0% 50%,
        100% 50%,
        66.6% 100%,
        66.6% 0%,
        100% 50%
      );
  }
}
