.footer {
  background-color: $bg-secondary-color;
}

.footer__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $break-point-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-border-color;

  @media (min-width: $break-point-tablet) {
    padding: 0;
    border: none;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid $color-border-color;

  @media (min-width: $break-point-tablet) {
    padding: 0;
    border: none;
  }
}

.educational-provider {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $break-point-tablet) {
    padding: 0;
    border: none;
  }
}

.educational-provider__name {
  @media (min-width: $break-point-tablet) {
    margin-right: 23px;
  }
}
