.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 13px;
  padding-bottom: 15px;
  row-gap: 15px;

  @media (min-width: $break-point-tablet) {
    grid-template-columns: max-content auto auto;
    align-items: center;
    column-gap: 13px;
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: $break-point-desktop) {
    column-gap: 14px;
    padding-top: 55px;
  }
}

.header__trademark {
  justify-self: start;
  min-width: max-content;
}

.header__logo {
  place-self: center center;
  min-width: max-content;

  @media (min-width: $break-point-tablet) {
    margin-right: auto;
  }
}

.header__navigation {
  grid-column: 1 / -1;
  margin-left: -20px;
  margin-right: -20px;
  display: contents;

  @media (min-width: $break-point-tablet) {
    grid-column: 3 / 4;
    margin-left: 0;
    margin-right: 0;
    justify-self: end;
  }

  @media (min-width: $break-point-desktop) {
    margin-left: 135px;
  }
}

.header__container-disabled-js {
  padding-bottom: 0;
}

.header__navigation--disabled-js {
  display: flex;
  flex-direction: column;
}

.header--index {
  border: none;
}
