$hero-bg-image-height: 302px;
$hero-bg-image-width: 320px;
$color-transition-width: calc($hero-bg-image-width / 2 + 5px);

.hero__text {
  @include font-height-color-size(14, $text-color-basic, 14);
  font-family: $secondary-font;
  text-transform: uppercase;
}

.hero--page-index {
  background-color: $bg-primary-color;
  background-image:
    linear-gradient(
      to right,
      $bg-primary-color calc(50% - $color-transition-width),
      $image-overlay 50%,
      $bg-primary-color calc(50% + $color-transition-width)
    ),
    url("../../images/mobile/background/hero_index_background_mobile@2x.jpg"),
    linear-gradient(
      to right,
      $bg-basic-color
    );
  background-repeat: no-repeat;
  background-position: center top, center top, bottom;
  // Первый фон, должен быть не меньше изображения. В третьем фоне 138 это отступ от предыдущего фона
  background-size: 100% max(calc(100% - 138px), $hero-bg-image-height), $hero-bg-image-width auto, 100% 138px;
}
