.subscription {
  padding-top: 40px;
}

.subscription__title {
  @include font-height-color-size(24, null, 24);
  display: grid;
  grid-template-columns: auto minmax(20px, 1fr);
  align-items: center;
  padding-left: 20px;
  column-gap: 40px;
  margin: 0 0 32px;

  &::after {
    content: "";
    border-top: 2px solid $color-primary;
  }
}

.subscription__text {
  @include font-height-color-size(24, $text-color-deafault, 16);
}

.subscribe-form__mail {
  @include font-height-color-size(20, $text-color, 20);
  font-family: $secondary-font;
  text-transform: uppercase;
  padding: 0;
  height: 56px;
}
