.trademark__image {
  width: 33px;
  height: 38px;
  display: block;

  @media (min-width: $break-point-tablet) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $break-point-desktop) {
    width: 70px;
    height: 59px;
  }
}
